body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #2D2D2D; }

header div.header-bg {
  height: 30vh;
  overflow: hidden; }
  header div.header-bg img {
    width: 100vw;
    height: auto; }
header > img {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: black;
  left: 30vw;
  top: 30vh;
  transform: translateY(-20vw); }

div.menuButton {
  display: flex;
  align-items: center;
  width: 75vw;
  height: 10vh;
  margin-top: 20vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #9B74E8; }
  div.menuButton h1 {
    font-family: "Cantata One", serif;
    color: #ffffff;
    font-size: 30px;
    margin-left: 30px;
    width: 75vw; }
  div.menuButton i.material-icons {
    font-size: 60px;
    color: #ffffff;
    text-align: right;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s; }

div.menu {
  width: 75vw;
  height: 0vh;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #9B74E8;
  border-radius: 10px;
  visibility: hidden;
  overflow: hidden;
  transition: height 0.2s ease-in-out, visibility 0s linear 0.2s; }
  div.menu a {
    color: white;
    font-family: "Cantata One", serif;
    font-size: 25px;
    text-decoration: none; }
  div.menu li {
    margin-top: 10px; }
  div.menu ul {
    padding-left: 30px;
    list-style-type: none; }

div.show {
  height: 17vh;
  visibility: visible;
  transition: visibility 0s linear 0s, height 0.2s ease-in-out; }

img.portrait {
  width: 75vw;
  height: auto;
  margin-left: 13vw;
  margin-top: 5vh; }

h3 {
  font-family: "Cantata One", serif;
  color: #ffffff; }

h2 {
  font-family: "Cantata One", serif;
  color: #ffffff; }

p {
  font-family: "Imprima", sans-serif;
  color: #ffffff; }

img {
  border-radius: 3px; }

footer {
  display: none; }

@media only screen and (min-device-width: 799px) {
  header {
    display: none; }
    header > img {
      position: absolute;
      height: 100px;
      width: 100px;
      right: 0px;
      top: 500px;
      transform: translateY(0); }

  div.menu {
    position: fixed;
    visibility: visible;
    height: 10vh;
    width: 100vw;
    border-radius: 0%;
    margin: 0px;
    z-index: 100;
    top: 0px; }
    div.menu ul {
      margin: 0px; }
    div.menu li {
      display: inline;
      float: right;
      margin-right: 4vw;
      margin-top: 3vh; }

  div.menuButton {
    display: none; }

  img.portrait {
    width: 30vw;
    height: auto;
    margin-top: 20vh; }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 15vh;
    width: 100vw;
    height: 15vh;
    margin-top: 10vh;
    background-color: #9B74E8; }
    footer .bg-facebook {
      width: 100px;
      height: 100px;
      background: url("../img/css_sprites.png") -10px -10px;
      z-index: 100;
      margin-left: auto;
      margin-right: auto; }
    footer .bg-twitter {
      width: 100px;
      height: 81px;
      background: url("../img/css_sprites.png") -10px -130px;
      z-index: 100;
      margin-left: auto;
      margin-right: auto; }
    footer .bg-instagram {
      width: 100px;
      height: 100px;
      background: url("../img/css_sprites.png") -130px -10px;
      z-index: 100;
      margin-left: auto;
      margin-right: auto; }
    footer a {
      text-decoration: none;
      color: #ffffff;
      font-family: "Cantata One", serif;
      font-size: 20px; }
    footer a:nth-of-type(1) {
      text-align: center; }
    footer a:nth-of-type(2) {
      text-align: center; }
    footer a:nth-of-type(3) {
      text-align: center; } }
main.indexGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  top: 25vh;
  width: 100%;
  height: 100%; }

div.aboutMe {
  width: 75vw;
  height: 55vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #F06089; }
  div.aboutMe h2 {
    margin: 20px; }
  div.aboutMe p {
    margin: 20px; }

@media only screen and (min-device-width: 799px) {
  main.indexGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; }

  div.aboutMe {
    margin-top: 20vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    width: 30vw;
    height: 35vh; }

  div.displayNoneDesktop {
    display: none; } }
.icons {
  margin-bottom: 0; }
  .icons a {
    display: block;
    width: 75vw;
    height: 75vw;
    border-radius: 50%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto; }
  .icons a:nth-of-type(1) {
    background-image: url(../img/digital.png);
    background-size: 75vw 75vw; }
  .icons a:nth-of-type(2) {
    background-image: url(../img/analog.png);
    background-size: 75vw 75vw; }
  .icons h2 {
    padding-top: 15vh;
    text-align: center;
    font-size: 55px;
    display: block;
    height: 75vw;
    text-decoration: none; }

@media only screen and (min-device-width: 799px) {
  .icons {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20vh; }
    .icons a {
      grid-row: 1/2;
      width: 30vw;
      height: 30vw;
      padding: 0px; }
    .icons a:nth-of-type(1) {
      background-size: 30vw 30vw;
      grid-column: 1/2;
      background-image: url("../img/digital.png");
      border-radius: 50%;
      justify-self: center; }
    .icons a:nth-of-type(2) {
      background-size: 30vw 30vw;
      grid-column: 2/3;
      background-image: url("../img/analog.png");
      border-radius: 50%;
      justify-self: center; }
    .icons h2:nth-of-type(1) {
      grid-column: 1/2; }
    .icons h2:nth-of-type(2) {
      grid-column: 2/3; }
    .icons h2 {
      grid-row: 1/2;
      width: 28vw;
      text-align: center;
      font-size: 80px;
      transform: translateY(0vw);
      display: inline-block;
      position: static; } }
.gallery h1 {
  font-size: 40px;
  color: #ffffff;
  font-family: "Cantata One", serif;
  text-align: center; }
.gallery img {
  margin-top: 5vh;
  width: 75vw;
  height: auto;
  border-radius: 3px;
  margin-left: 12.5vw; }

.bg {
  background: url("../img/Parallax_bg.png");
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 300%;
  z-index: -1; }

@media only screen and (min-device-width: 799px) {
  .gallery {
    align-content: center; }
    .gallery img {
      width: 20vw;
      height: auto;
      margin: 6.4vw; }
    .gallery h1 {
      margin-top: 20vh;
      font-size: 60px; } }
.contactBox {
  display: block;
  background-color: #3D95D9;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px; }
  .contactBox h2 {
    padding: 20px; }
  .contactBox p {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }

.contactLinks a {
  font-family: "Cantata One", serif;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none; }
.contactLinks li {
  list-style-type: none;
  margin: 40px;
  text-align: center; }
.contactLinks ul {
  margin-top: 10vh;
  padding-left: 0; }

.img {
  display: none; }

@media only screen and (min-device-width: 799px) {
  .contactBox {
    margin-top: 20vh;
    width: 50vw; }

  h2 {
    padding: 20px; }

  a {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }

  .img {
    display: block;
    margin-top: 20vh; }
    .img img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75vw; } }
