body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #2D2D2D; }

header div.header-bg {
  height: 30vh;
  overflow: hidden; }
  header div.header-bg img {
    width: 100vw;
    height: auto; }
header > img {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: black;
  left: 30vw;
  top: 30vh;
  transform: translateY(-20vw); }

div.menuButton {
  display: flex;
  align-items: center;
  width: 75vw;
  height: 10vh;
  margin-top: 20vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #9B74E8; }
  div.menuButton h1 {
    font-family: "Cantata One", serif;
    color: #ffffff;
    font-size: 30px;
    margin-left: 30px;
    width: 73%; }
  div.menuButton i.material-icons {
    font-size: 60px;
    color: #ffffff;
    text-align: right;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s; }

div.menu {
  width: 75vw;
  height: 0vh;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #9B74E8;
  border-radius: 10px;
  visibility: hidden;
  overflow: hidden;
  transition: height 0.2s ease-in-out, visibility 0s linear 0.2s; }
  div.menu a {
    color: white;
    font-family: "Cantata One", serif;
    font-size: 25px;
    text-decoration: none; }
  div.menu li {
    margin-top: 10px; }
  div.menu ul {
    margin-left: 15px;
    list-style-type: none; }

div.show {
  height: 20vh;
  visibility: visible;
  transition: visibility 0s linear 0s, height 0.2s ease-in-out; }

img.portrait {
  width: 75vw;
  height: auto;
  margin-left: 13vw;
  margin-top: 5vh; }

h3 {
  font-family: "Cantata One", serif;
  color: #ffffff; }

h2 {
  font-family: "Cantata One", serif;
  color: #ffffff; }

p {
  font-family: "Imprima", sans-serif;
  color: #ffffff; }

img {
  border-radius: 3px; }

footer {
  display: none; }

@media only screen and (min-device-width: 799px) {
  header {
    display: none; }
    header > img {
      display: flex;
      height: 10vh;
      width: 20vw; }

  div.menu {
    visibility: visible;
    height: 10vh;
    width: 100vw;
    border-radius: 0%;
    margin: 0px; }
    div.menu ul {
      margin: 0px; }
    div.menu li {
      display: inline;
      float: right;
      margin-right: 4vw;
      margin-top: 3vh; }

  div.menuButton {
    display: none; }

  img.portrait {
    width: 30vw;
    height: auto;
    margin-top: 20vh; }

  footer {
    padding-top: 30vh;
    width: 100vw;
    height: 15vh;
    margin-top: 10vh;
    background-color: #9B74E8;
    display: block; }
    footer ul {
      padding: 0px;
      width: 40vw;
      list-style-type: none;
      margin-left: 32vw; }
    footer li {
      display: inline;
      margin: 25px; }
    footer a {
      text-decoration: none;
      color: #ffffff;
      font-family: "Cantata One", serif;
      font-size: 20px; } }
main.indexGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  top: 25vh;
  width: 100%;
  height: 100%; }

div.aboutMe {
  width: 75vw;
  height: 55vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #F06089; }
  div.aboutMe h3 {
    margin: 20px; }
  div.aboutMe p {
    margin: 20px; }

@media only screen and (min-device-width: 799px) {
  main.indexGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; }

  div.aboutMe {
    margin-top: 20vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    width: 30vw;
    height: auto; }

  div.displayNoneDesktop {
    display: none; } }
.icons {
  margin-bottom: 0; }
  .icons img {
    display: block;
    border-radius: 50%;
    width: 75vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto; }
  .icons h2 {
    text-align: center;
    font-size: 55px;
    transform: translateY(-81vh);
    display: block; }
  .icons h2:first-of-type {
    margin-bottom: 38vh; }

@media only screen and (min-device-width: 799px) {
  .icons {
    display: inline; }
    .icons h2 {
      width: 30vw;
      text-align: center;
      font-size: 80px;
      transform: translateY(-21vw);
      margin-left: 13vw;
      display: inline-block; }
    .icons img {
      display: inline;
      border-radius: 50%;
      width: 30vw;
      margin-left: 13vw;
      margin-top: 10vh; } }
