<div class="bg">
    <!-- <img src="/img/Parallax_bg.png"alt=""> -->
</div>
<div class="gallery">
    <h1>Analog Artworks</h1>
    <img src="/img/sketch.jpg" alt="analog drawing 1">
    <img src="/img/analog_colour.jpg" alt="analog drawing 2">
    <img src="/img/analog.jpg" alt="analog drawing 3">
    <img src="/img/analog_colour.jpg" alt="analog drawing 2">
    <img src="/img/analog.jpg" alt="analog drawing 3">
    <img src="/img/sketch.jpg" alt="analog drawing 1">
    <img src="/img/analog.jpg" alt="analog drawing 3">
    <img src="/img/sketch.jpg" alt="analog drawing 1">
    <img src="/img/analog_colour.jpg" alt="analog drawing 2">
</div>