<div class="contactBox">
    <H2>How to contact me</H2>
    <p>Lorem ipsum dolor sit amet, no debet accusata mea, ius stet vituperatoribus ei. His nullam delenit at. Et mundi corpora
        pericula nam, perfecto tractatos sea an, nam melius omittam complectitur ex. Per minim mollis suscipit no, te vis
        dicat timeam accusamus. Audire labores inciderint ex vim, purto porro salutandi pri id. Te alienum nominati sea no
        debet accusata mea auidre nam.</p>
</div>
<div class="contactLinks">
    <ul>
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://www.instagram.com">Instagram</a></li>
        <li><a href="">Twitter</a></li>
    </ul>   
</div>
<div class="img">
    <img src="/img/contact_img.png" alt="contact art img">
</div>