<div class="bg">
    <!-- <img src="/img/Parallax_bg.png"alt=""> -->
</div>
<div class="gallery">
    <h1>Digital Artworks</h1>
    <img src="/img/d2107fdf71d01cc3c107b564e07ae822--twitter-link-awesome-art.jpg" alt="digital img 3">
    <img src="/img/julia-razumova-tumblr-orww9bwyh61sotmbgo1-1280.png" alt="digital img 1">
    <img src="/img/digital.jpg" alt="digital img 2">
    <img src="/img/julia-razumova-tumblr-orww9bwyh61sotmbgo1-1280.png" alt="digital img 1">
    <img src="/img/digital.jpg" alt="digital img 2">
    <img src="/img/d2107fdf71d01cc3c107b564e07ae822--twitter-link-awesome-art.jpg" alt="digital img 3">
    <img src="/img/digital.jpg" alt="digital img 2">
    <img src="/img/d2107fdf71d01cc3c107b564e07ae822--twitter-link-awesome-art.jpg" alt="digital img 3">
    <img src="/img/julia-razumova-tumblr-orww9bwyh61sotmbgo1-1280.png" alt="digital img 1">
</div>
