<main>
    <div class="icons">
        <a href="digital.html"><h2>Digital</h2></a> 
        <a href="analog.html"><h2>Analog</h2></a>
    </div>
</main>

<!-- lägga allt i a taggen, bild som bakgrund och h2 som text i a -->