<main>
    <div class="icons">
        <a href="digital.html"><img src="./img/digital.png" alt="digital icon"></a> 
        <a href="analog.html"><img src="./img/analog.png" alt="analog icon"></a>
        <h2>Digital</h2>
        <h2>Analog</h2>
    </div>
</main>