<main>
    <div class="icons">
        <img src="./img/digital.png" alt="digital icon">
        <img src="./img/analog.png" alt="analog icon">
        <h2>Digital</h2>
        <h2>Analog</h2>
    </div>
</main>