
<main class="indexGrid">
    <div class="aboutMe">
        <h3>About Me</h3>
        <p>blablabla</p>
    </div>
    <div>
        <img src="./img/img_5832.jpg" alt="drawing1" class="portrait">
    </div>
    <div class="displayNoneDesktop"> 
        <img src="./img/images.jpg" alt="drawing2" class="portrait">
    </div>
</main>