<main class="indexGrid">
    <div class="aboutMe">
        <h3>About Me</h3>
        <p>Lorem ipsum dolor sit amet, no debet accusata mea, ius stet vituperatoribus ei. His nullam delenit at. Et mundi corpora
            pericula nam, perfecto tractatos sea an, nam melius omittam complectitur ex. Per minim mollis suscipit no, te
            vis dicat timeam accusamus. Audire labores inciderint ex vim, purto porro salutandi pri id. Te alienum nominati
            sea.</p>
    </div>
    <div>
        <img src="./img/img_5832.jpg" alt="drawing1" class="portrait">
    </div>
    <div class="displayNoneDesktop">
        <img src="./img/images.jpg" alt="drawing2" class="portrait">
    </div>
</main>