<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Imprima" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="circle"></div>
    </header>
    <div class="menuButton" onclick="toggleMenu()">
        <p>menu</p>
    </div>
    <div class="menu">
        <p>kek</p>
    </div>
    <%= yield%>
    <script src="./js/main.js"></script>
    <footer></footer>
</body>
</html>
