body {
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    .circle{
        position: absolute;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        background: black;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    position: relative;
    height: 40vh;
    background-color: cornflowerblue;   
}

div.menuButton {
    width: 75vw;
    height: 10vh;
    margin-top: 20vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: coral;
}

div.menu {
    *:first-child {
        margin-top: 0px;
    }
    p {
        color: white;
    }
    width: 75vw;
    height: 0vh;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    visibility: hidden;
    transition: height 0.2s ease-in-out, visibility 0s linear 0.2s;
}

div.show {
    height: 15vh;
    visibility: visible;
    transition: visibility 0s linear 0s, height 0.2s ease-in-out;
}